<html lang="en">
<head>

        {{!-- Replace meta content here --}}
        {{{block 'meta-content'}}}

        {{!-- Custom <head> content per page can be added. --}}
        {{{block 'head-styles'}}}

        {{!-- Custom <script> content per page can be added. --}}        
        {{{block 'head-scripts'}}}

</head>
<body>

        <header>    
                {{!-- 
                    `includes/header`
                --}}
                {{> includes/header}}
        </header>

        <main id="content">
                {{!-- Main page content goes here. --}}
                {{{block 'main'}}}
        </main>

        <footer>
                {{!-- 
                    `includes/footer`
                --}}
                {{> includes/footer}}
        </footer>

        {{!-- Custom scripts per page can be added here. --}}
        {{{block 'body-scripts'}}}

</body>
</html>