<html lang="en">
<head>
        {{!-- Extend metadata and other <head> elements --}}
        {{{block 'meta-content'}}}
        {{!-- Extend styles in the <head> element --}}
        {{{block 'head-styles'}}}
        {{!-- Extend scripts in the <head> element --}}
        {{{block 'head-scripts'}}}
</head>
<body>
        <header class="container-md" >    
        {{!-- Extend with header content --}}
        {{{block 'header'}}}
        </header>
        <main id="main" class="container-md" >
        {{!-- Extend with the main page content --}}
        {{{block 'main'}}}
        </main>
        <footer>
        {{!-- Extend with footer content --}}
        {{{block 'footer'}}}
        </footer class="container-md" >
        {{!-- Extend with scripts at the foot of the page --}}
        {{{block 'body-scripts'}}}
</body>
</html>